{% extends "bootstrap_5_layout.html" %}
{% set active_page = "progress" %}
{% block content %}
<div class="container mt-4">
    <h2>Task List</h2>

    <div class="list-group">
        <!-- Form to handle task updates -->
        <form method="post" action="{{ url_for('tasks_routes.update_tasks') }}">
          {% for task in tasks %}
          <label class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" name="{{ task['Task'] }}" id="{{ task['Task'] }}"
                     {% if task['Status'] %} checked {% endif %}>
              {{ task['Task'] }}
          </label>
            {% endfor %}

            <!-- Save Changes Button -->
            <button type="submit" class="btn btn-primary mt-3" id="saveChangesBtn">Save Changes</button>
        </form>
    </div>

    <!-- Download Button -->
    <a href="{{ url_for('tasks_routes.download_file') }}" class="btn btn-success mt-3">Download Updated File</a>
</div>
{% endblock %}
