{% extends "bootstrap_5_layout.html" %}
{% set active_page = "progress" %}
{% block content %}
<div class="list-group">
  
  <!-- Form to handle task updates -->
  <form method="post" action="/tasks/update">

    {% for task in tasks %}
      <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" name="tasks" value="{{ task['id'] }}" {% if task['completed'] %} checked {% endif %}>
        {{ task['Task'] }}
      </label>
    {% endfor %}

    <!-- Save Changes Button -->
    <button type="submit" class="btn btn-primary mt-3" id="saveChangesBtn">Save Changes</button>

  </form>

</div>
{% endblock %}
