{% extends "bootstrap_5_layout.html" %}
{% set active_page = "checklist" %}
{% block content %}
<div class="container mt-4">
    <h2>Task List</h2>

    <!-- Dropdown for Assignee Selection -->
    <div class="mb-3">
        <label for="assigneeSelection" class="form-label">Select Assignee:</label>
        <select class="form-select" id="assigneeSelection">
            <option value="all">All</option>
            {% for assignee in assignees %}
            <option value="{{ assignee }}">{{ assignee }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="list-group">
        <!-- Form to handle task updates -->
        <form method="post" action="{{ url_for('tasks_routes.update_tasks') }}">
          {% for task in tasks %}
          <div class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" name="status_{{ loop.index }}" id="status_{{ loop.index }}"
                     {% if task['Status'] %} checked {% endif %}>
              <label for="status_{{ loop.index }}">{{ task['Task'] }}</label>
          </div>
          {% endfor %}

          <!-- Save Changes Button -->
          <button type="submit" class="btn btn-primary mt-3" id="saveChangesBtn">Save Changes</button>
        </form>
    </div>

    <!-- Download Button -->
    <a href="{{ url_for('tasks_routes.download_file') }}" class="btn btn-success mt-3">Download Updated File</a>
</div>
{% endblock %}
